@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font style from google */
    body {
    font-family: "Roboto Serif", serif;
    }

    .weather-icon {
        width: 50px;
        height: 50px;
        margin-top: 10px;
        }


        /* Designing the scroll bar for display of 5 day forecast */
        ::-webkit-scrollbar {
            width: 10px;
            height: 10px;
        }
        ::-webkit-scrollbar-track {
            background: #f1f1f1;
        }
        ::-webkit-scrollbar-thumb {
            background: #888;
            border-radius: 10px;
        }
        ::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
